.topic-box {
  background-color: white;
  height: 10em;
  width: 10em;
  margin-top: 3%;
  border-radius: 0.5em;
  border: 2px solid black;
  font-weight: 700;
}

.outline {
  height: 6em;
}

.topic-select {
  margin-bottom: 5%;
}

.frequency-choice {
  margin: 3%;
  font-size: 120%;
  font-weight: 700;
}

.freq-label {
  display: inline;
  margin-left: 2%;
  width: 120%;
}

.build-button {
  font-weight: 700;
}
