nav {
  background-color: #FFCF00;
  padding: 30px;
  text-align: center;
}

.brand {
  height: 5em;
}

.thumbnail {
  height: 15em;
}

.desc_col {
  text-align: center;
}

h1, .main_header {
  text-align: center;
  margin: 5% 0;
  font-weight: bold;
}

.newsletter_features{
  margin-bottom: 5%;
}

.privacy_policy {
  margin-top: 3%;
  font-size: 120%;
}

.build-button {
  background-color: #E9AC000;
}

.sign-up {
  background-color: #009D2E;
}

.feature {
  margin-top: 3%;
  font-weight: bold;
}
.privacy_policy {
  text-align: center;
}



/*
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: 8px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;
}

.inputText {
  font-size: 14px;
  width: 200px;
  height: 35px;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 18px;
  transition: 0.2s ease all;
} */
